<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fatec.fernanda.appredes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppRedes"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.CadastroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MenuActivity" />
        <activity android:name=".Activities.PerfilActivity" />
        <activity android:name=".Activities.MenuConteudosActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MenuTopicosActivity" />
        <activity android:name=".Activities.TopicoActivity"></activity>
    </application>

</manifest>